[package]
name = "generics_yaml_deserializer"
version = "0.1.3"
authors = ["Kegan Holtzhausen <marzubus@gmail.com>"]
edition = "2018"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
serde_yaml = "0.7.5"
serde_json = "1.0"
